{:paths ["src" "resources"]
 :deps {com.github.seancorfield/next.jdbc {:mvn/version "1.2.772"}
        com.microsoft.sqlserver/mssql-jdbc {:mvn/version "11.1.0.jre17-preview"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
